/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* This stylesheet generated by Transfonter (http://transfonter.org) on September 22, 2016 4:25 AM */
@font-face {
  font-family: 'DIN-Bold';
  src: url("/fonts/DINPro-Bold.eot");
  src: url("/fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro-Bold.woff") format("woff"), url("/fonts/DINPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DIN-Medium';
  src: url("/fonts/DINPro-Medium.eot");
  src: url("/fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro-Medium.woff") format("woff"), url("/fonts/DINPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DIN-Light';
  src: url("/fonts/DINPro-Light.eot");
  src: url("/fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro-Light.woff") format("woff"), url("/fonts/DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DIN-Reg';
  src: url("/fonts/DINPro-Regular.eot");
  src: url("/fonts/DINPro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro-Regular.woff") format("woff"), url("/fonts/DINPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/global.scss */
body {
  font-size: x-large;
}

/* line 12, ../sass/global.scss */
section {
  padding: 100px 40px;
  position: relative;
}

/* line 19, ../sass/global.scss */
h1 {
  font-size: 200%;
  font-family: "Din-Bold", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
}

/* line 27, ../sass/global.scss */
h2 {
  font-size: 175%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
  outline: none;
}

/* line 34, ../sass/global.scss */
h3 {
  font-size: 125%;
  font-family: "Din-Light", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
}

/* line 40, ../sass/global.scss */
h4 {
  font-size: 115%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* line 48, ../sass/global.scss */
h5 {
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
}

/* line 56, ../sass/global.scss */
h6 {
  font-size: 75%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
}

/* line 62, ../sass/global.scss */
blockquote {
  font-size: 115%;
  font-family: "Din-Light", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 150%;
}
/* line 66, ../sass/global.scss */
blockquote strong {
  font-family: "Din-Bold", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}
/* line 70, ../sass/global.scss */
blockquote p {
  font-size: 100%;
}

/* line 76, ../sass/global.scss */
p {
  font-size: 75%;
  font-family: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 150%;
  margin: 0 0 20px 0;
}
/* line 84, ../sass/global.scss */
p a {
  font-family: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  color: #061A2C;
  font-size: 100%;
}
/* line 90, ../sass/global.scss */
p strong {
  font-family: "Din-Bold", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}

/* line 95, ../sass/global.scss */
a {
  font-size: 75%;
  font-family: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  color: #061A2C;
  position: relative;
}

/* line 102, ../sass/global.scss */
h1, h2, h3, h4, h5, h6, p, blockquote {
  position: relative;
}
/* line 105, ../sass/global.scss */
h1.orange, h2.orange, h3.orange, h4.orange, h5.orange, h6.orange, p.orange, blockquote.orange {
  color: #FF6500;
}
/* line 109, ../sass/global.scss */
h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, p.blue, blockquote.blue {
  color: #1B84E3;
}
/* line 113, ../sass/global.scss */
h1.dark-blue, h2.dark-blue, h3.dark-blue, h4.dark-blue, h5.dark-blue, h6.dark-blue, p.dark-blue, blockquote.dark-blue {
  color: #061A2C;
}
/* line 117, ../sass/global.scss */
h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, p.white, blockquote.white {
  color: #FFF;
}
/* line 121, ../sass/global.scss */
h1.black, h2.black, h3.black, h4.black, h5.black, h6.black, p.black, blockquote.black {
  color: #061A2C;
}

/* line 126, ../sass/global.scss */
.float-left {
  float: left;
}

/* line 130, ../sass/global.scss */
.float-right {
  float: right;
}

/* line 134, ../sass/global.scss */
a.button {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 20px;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 147, ../sass/global.scss */
a.button.blue {
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
}
/* line 151, ../sass/global.scss */
a.button.orange {
  background: #FF6800;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FF6800 0%, #FC8B40 100%);
  background: linear-gradient(0deg, #ff6800 0%, #fc8b40 100%);
}
/* line 155, ../sass/global.scss */
a.button:hover {
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 161, ../sass/global.scss */
button.button {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  padding: 16px 20px;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 20px;
  display: inline-block;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
}
/* line 177, ../sass/global.scss */
button.button.blue {
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
}
/* line 181, ../sass/global.scss */
button.button.orange {
  background: #FF6800;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FF6800 0%, #FC8B40 100%);
  background: linear-gradient(0deg, #ff6800 0%, #fc8b40 100%);
}
/* line 185, ../sass/global.scss */
button.button:hover {
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 8, ../sass/navigation.scss */
header#masthead {
  height: 62px;
  width: 100%;
  background: white;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  border-bottom: 1px solid #E5E5E5;
}
/* line 20, ../sass/navigation.scss */
header#masthead form {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  background-color: transparent;
}
/* line 32, ../sass/navigation.scss */
header#masthead input#email-input {
  height: 38px;
  margin: 11px 0 0 0;
  float: right;
  padding: 0;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px 0 0 2px;
  text-indent: 17px;
  outline: none;
  width: 150px;
  background: rgba(28, 72, 111, 0.09);
  border: 1px solid rgba(8, 44, 76, 0.24);
  border-right: none;
}
/* line 47, ../sass/navigation.scss */
header#masthead input#submit-email {
  height: 40px;
  width: 122px;
  color: white;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  display: block;
  -moz-border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0;
  border-radius: 0 2px 2px 0;
  padding: 0;
  margin: 11px 10px 0 0;
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  float: right;
  cursor: pointer;
}

/* line 71, ../sass/navigation.scss */
span.phone {
  font-size: 75%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  position: absolute;
  left: 180px;
  top: 22px;
}

/* line 84, ../sass/navigation.scss */
ul.sub-nav {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: white;
  left: 0;
  top: 63px;
  display: block;
  border-bottom: 1px solid #E5E5E5;
  -moz-transform: translate3d(0px, -350px, 0);
  -ms-transform: translate3d(0px, -350px, 0);
  -webkit-transform: translate3d(0px, -350px, 0);
  transform: translate3d(0px, -350px, 0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 110;
}
/* line 98, ../sass/navigation.scss */
ul.sub-nav.activate {
  -moz-transform: translate3d(0px, 0px, 0);
  -ms-transform: translate3d(0px, 0px, 0);
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 110, ../sass/navigation.scss */
ul.sub-nav.resources li.subnav-items:nth-child(1):before {
  background: url(/images/resources/customers.png) no-repeat scroll;
  background-position: center 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 110, ../sass/navigation.scss */
  ul.sub-nav.resources li.subnav-items:nth-child(1):before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/images/resources/customers@2x.png");
    background-size: 56px 56px;
  }
}
/* line 116, ../sass/navigation.scss */
ul.sub-nav.resources li.subnav-items:nth-child(2):before {
  background: url(/images/resources/docs.png) no-repeat scroll;
  background-position: center 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 116, ../sass/navigation.scss */
  ul.sub-nav.resources li.subnav-items:nth-child(2):before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/images/resources/docs@2x.png");
    background-size: 51px 56px;
  }
}
/* line 122, ../sass/navigation.scss */
ul.sub-nav.resources li.subnav-items:nth-child(3):before {
  background: url(/images/resources/why-idealspot.png) no-repeat scroll;
  background-position: center 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 122, ../sass/navigation.scss */
  ul.sub-nav.resources li.subnav-items:nth-child(3):before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/images/resources/why-idealspot@2x.png");
    background-size: 59px 56px;
  }
}
/* line 128, ../sass/navigation.scss */
ul.sub-nav.resources li.subnav-items:nth-child(4):before {
  background: url(/images/resources/webinar.png) no-repeat scroll;
  background-position: center 50px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 128, ../sass/navigation.scss */
  ul.sub-nav.resources li.subnav-items:nth-child(4):before {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/images/resources/webinar@2x.png");
    background-size: 55px 56px;
  }
}
/* line 134, ../sass/navigation.scss */
ul.sub-nav.resources li.subnav-items:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 153, ../sass/navigation.scss */
ul.sub-nav.solutions {
  -moz-transform: translate3d(0px, -550px, 0);
  -ms-transform: translate3d(0px, -550px, 0);
  -webkit-transform: translate3d(0px, -550px, 0);
  transform: translate3d(0px, -550px, 0);
}
/* line 156, ../sass/navigation.scss */
ul.sub-nav.solutions.activate {
  -moz-transform: translate3d(0px, 0px, 0);
  -ms-transform: translate3d(0px, 0px, 0);
  -webkit-transform: translate3d(0px, 0px, 0);
  transform: translate3d(0px, 0px, 0);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 162, ../sass/navigation.scss */
ul.sub-nav.solutions a.link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
/* line 169, ../sass/navigation.scss */
ul.sub-nav.solutions li:hover {
  background-color: #E3F2FF;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 180, ../sass/navigation.scss */
#free-download {
  width: 100%;
  display: inline-block;
  text-align: center;
  z-index: 0;
  position: relative;
  font-size: 65%;
  font-family: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  padding: 10px 0;
  -moz-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 191, ../sass/navigation.scss */
#free-download a {
  font-size: 100%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  text-decoration: none;
  color: #096CC3;
}
/* line 196, ../sass/navigation.scss */
#free-download a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 204, ../sass/navigation.scss */
li.subnav-items {
  width: 25%;
  display: inline-block;
  float: left;
  position: relative;
  padding: 20px 0;
  text-align: center;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 215, ../sass/navigation.scss */
li.subnav-items:after {
  content: "";
  display: block;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 230, ../sass/navigation.scss */
li.subnav-items:last-child:after {
  display: none;
}
/* line 235, ../sass/navigation.scss */
li.subnav-items h6 {
  padding-top: 110px;
  -moz-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 241, ../sass/navigation.scss */
li.subnav-items a.button {
  margin-top: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 247, ../sass/navigation.scss */
li.subnav-items:hover {
  background-color: #E3F2FF;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 250, ../sass/navigation.scss */
li.subnav-items:hover a.button {
  cursor: pointer;
}

/* line 261, ../sass/navigation.scss */
ul.top {
  background-color: transparent;
  height: 100%;
  display: inline-block;
  top: 0;
  position: relative;
  z-index: 10;
}

/* line 273, ../sass/navigation.scss */
li.top-items {
  display: inline-block;
  height: 100%;
  text-align: center;
  margin: 0;
  outline: 0;
  border: 0;
  float: left;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  -moz-box-shadow: inset 0 -4px 0 transparent;
  -webkit-box-shadow: inset 0 -4px 0 transparent;
  box-shadow: inset 0 -4px 0 transparent;
}
/* line 285, ../sass/navigation.scss */
li.top-items a.top-nav, li.top-items span {
  display: block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  line-height: 62px;
  font-size: 67%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  color: #061A2C;
  padding: 0 20px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 300, ../sass/navigation.scss */
li.top-items span svg {
  fill: rgba(0, 0, 0, 0.3);
  margin-left: 6px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform-origin: 7px 4px;
  -ms-transform-origin: 7px 4px;
  -webkit-transform-origin: 7px 4px;
  transform-origin: 7px 4px;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 308, ../sass/navigation.scss */
li.top-items span.activate {
  -moz-box-shadow: inset 0 -3px 0 #096CC3;
  -webkit-box-shadow: inset 0 -3px 0 #096CC3;
  box-shadow: inset 0 -3px 0 #096CC3;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 312, ../sass/navigation.scss */
li.top-items span.activate svg {
  fill: #096CC3;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 322, ../sass/navigation.scss */
li.top-items:hover {
  -moz-box-shadow: inset 0 -3px 0 #096CC3;
  -webkit-box-shadow: inset 0 -3px 0 #096CC3;
  box-shadow: inset 0 -3px 0 #096CC3;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 327, ../sass/navigation.scss */
li.top-items:hover a, li.top-items:hover span {
  color: #096CC3;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
/* line 337, ../sass/navigation.scss */
li.top-items.selected {
  -moz-box-shadow: inset 0 -3px 0 #096CC3;
  -webkit-box-shadow: inset 0 -3px 0 #096CC3;
  box-shadow: inset 0 -3px 0 #096CC3;
}
/* line 340, ../sass/navigation.scss */
li.top-items.selected a, li.top-items.selected span {
  color: #096CC3;
}

/* line 351, ../sass/navigation.scss */
ul.sub-nav.resources.activate #free-download {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 359, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:before {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 363, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:after {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 368, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items h6 {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 374, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items a.button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 381, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child:before {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 384, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child:after {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 387, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child h6 {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 390, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child a.button {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 392, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 399, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2):before {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 402, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2):after {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 405, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2) h6 {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 408, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2) a.button {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 410, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2) a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 417, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3):before {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 420, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3):after {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 423, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3) h6 {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 426, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3) a.button {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 428, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3) a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 435, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4):before {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 438, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4):after {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 441, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4) h6 {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 444, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4) a.button {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 446, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4) a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 454, ../sass/navigation.scss */
a.logo {
  display: block;
  height: 100%;
  width: 160px;
  overflow: hidden;
  text-indent: -10000px;
  background: url(/images/idealspot-logo@2x.png) no-repeat transparent scroll;
  background-size: 150px 40px;
  background-position: 10px 18px;
  padding-left: 10px;
  position: absolute;
}

/* line 468, ../sass/navigation.scss */
button#mobile-menu {
  display: none;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0;
  width: auto;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 20px;
}
/* line 480, ../sass/navigation.scss */
button#mobile-menu h6 {
  display: inline-block;
  font-size: 130%;
  margin-right: 40px;
}
/* line 486, ../sass/navigation.scss */
button#mobile-menu svg {
  margin-left: 10px;
  position: absolute;
  right: 20px;
  top: 28px;
}
/* line 493, ../sass/navigation.scss */
button#mobile-menu:after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 28px;
  background: url(/images/menu-icn.svg) no-repeat transparent scroll;
  width: 19px;
  height: 8px;
  opacity: 1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 506, ../sass/navigation.scss */
button#mobile-menu:before {
  content: "";
  display: block;
  position: absolute;
  right: 19px;
  top: 24px;
  background: url(/images/close-icn.svg) no-repeat transparent scroll;
  width: 19px;
  height: 20px;
  opacity: 0;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 521, ../sass/navigation.scss */
button#mobile-menu.activate:before {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* line 527, ../sass/navigation.scss */
button#mobile-menu.activate:after {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

/* line 536, ../sass/navigation.scss */
div#page {
  margin-top: 61px;
}

/* line 540, ../sass/navigation.scss */
section h2 {
  padding-top: 8px;
  padding-bottom: 85px;
}
/* line 543, ../sass/navigation.scss */
section h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  bottom: 40px;
  background-color: #061A2C;
}

/* line 555, ../sass/navigation.scss */
div.inner {
  margin: 0 auto;
  display: inline-block;
}

/* line 560, ../sass/navigation.scss */
div.grid-1 {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 565, ../sass/navigation.scss */
div.grid-2 {
  max-width: 550px;
  float: left;
  display: inline-block;
  padding-right: 100px;
  margin-bottom: 100px;
}
/* line 571, ../sass/navigation.scss */
div.grid-2.col-right {
  padding-right: 0;
}

/* line 578, ../sass/navigation.scss */
li#solutions-rr-mast, li#solutions-bd-mast {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0;
  text-align: center;
  background-color: transparent;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}
/* line 588, ../sass/navigation.scss */
li#solutions-rr-mast h1, li#solutions-bd-mast h1 {
  font-size: 200%;
  padding-top: 230px;
  color: white;
}
/* line 594, ../sass/navigation.scss */
li#solutions-rr-mast h2, li#solutions-bd-mast h2 {
  padding-bottom: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}
/* line 600, ../sass/navigation.scss */
li#solutions-rr-mast h2:after, li#solutions-bd-mast h2:after {
  left: 50%;
  margin-left: -75px;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 607, ../sass/navigation.scss */
li#solutions-rr-mast button.button, li#solutions-bd-mast button.button {
  margin-top: 0px;
}
/* line 612, ../sass/navigation.scss */
li#solutions-rr-mast div.inner, li#solutions-bd-mast div.inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 623, ../sass/navigation.scss */
li#solutions-rr-mast h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -183px;
  width: 366px;
  height: 234px;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  background: url(/images/solutions/retail.png) no-repeat transparent scroll;
  background-position: center 13px;
  background-size: 366px 214px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 623, ../sass/navigation.scss */
  li#solutions-rr-mast h1:after {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/images/solutions/retail@2x.png");
    background-size: 366px 214px;
  }
}
/* line 642, ../sass/navigation.scss */
li#solutions-rr-mast:hover {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 652, ../sass/navigation.scss */
li#solutions-bd-mast h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -184px;
  width: 368px;
  height: 234px;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: url(/images/solutions/brokers.png) no-repeat transparent scroll;
  background-position: center 13px;
  background-size: 368px 214px;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 652, ../sass/navigation.scss */
  li#solutions-bd-mast h1:after {
    /* on retina, use image that's scaled by 2 */
    background-image: url("/images/solutions/brokers@2x.png");
    background-size: 368px 214px;
  }
}
/* line 671, ../sass/navigation.scss */
li#solutions-bd-mast:hover {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 677, ../sass/navigation.scss */
li#solutions-rr-mast:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 688, ../sass/navigation.scss */
li#solution-feature h2, li#solution-cta h2 {
  padding-bottom: 0px;
}
/* line 691, ../sass/navigation.scss */
li#solution-feature h2:after, li#solution-cta h2:after {
  display: none;
}

/* line 699, ../sass/navigation.scss */
ul.sub-nav.solutions.activate li#solutions-rr-mast:after, ul.sub-nav.solutions.activate li#solutions-bd-mast:after {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 705, ../sass/navigation.scss */
ul.sub-nav.solutions.activate li#solutions-rr-mast h1, ul.sub-nav.solutions.activate li#solutions-bd-mast h1 {
  color: #061A2C;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 712, ../sass/navigation.scss */
ul.sub-nav.solutions.activate li#solutions-rr-mast h1:after, ul.sub-nav.solutions.activate li#solutions-bd-mast h1:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 720, ../sass/navigation.scss */
ul.sub-nav.solutions.activate li#solutions-rr-mast h2, ul.sub-nav.solutions.activate li#solutions-bd-mast h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition-delay: 1.1s;
  -o-transition-delay: 1.1s;
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
/* line 727, ../sass/navigation.scss */
ul.sub-nav.solutions.activate li#solutions-rr-mast button:hover, ul.sub-nav.solutions.activate li#solutions-bd-mast button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 732, ../sass/navigation.scss */
ul.sub-nav.solutions.activate li#solutions-rr-mast div.inner, ul.sub-nav.solutions.activate li#solutions-bd-mast div.inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}

/* line 742, ../sass/navigation.scss */
ul.sub-nav.resources.activate #free-download {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 750, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:before {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 754, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:after {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 759, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items h6 {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 765, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items a.button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 772, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child:before {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 775, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child:after {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 778, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child h6 {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 781, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child a.button {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 783, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:first-child a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 790, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2):before {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 793, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2):after {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 796, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2) h6 {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 799, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2) a.button {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 801, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(2) a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 808, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3):before {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 811, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3):after {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 814, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3) h6 {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
/* line 817, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3) a.button {
  -moz-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
/* line 819, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(3) a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 826, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4):before {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 829, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4):after {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 832, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4) h6 {
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
/* line 835, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4) a.button {
  -moz-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* line 837, ../sass/navigation.scss */
ul.sub-nav.resources.activate li.subnav-items:nth-child(4) a.button:hover {
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 7, ../sass/footer.scss */
section#schedule-demo {
  background: url(/images/mast-bg.png) no-repeat white scroll;
  background-position: bottom center;
  clear: both;
  margin-top: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 13, ../sass/footer.scss */
section#schedule-demo .container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 5px 0 #096CC3;
  -webkit-box-shadow: inset 0 5px 0 #096CC3;
  box-shadow: inset 0 5px 0 #096CC3;
  text-align: center;
}
/* line 23, ../sass/footer.scss */
section#schedule-demo h2, section#schedule-demo p {
  display: block;
}
/* line 28, ../sass/footer.scss */
section#schedule-demo p {
  margin: 20px auto;
}
/* line 32, ../sass/footer.scss */
section#schedule-demo h2 {
  padding-bottom: 0px;
}
/* line 36, ../sass/footer.scss */
section#schedule-demo h2:after {
  display: none;
}
/* line 40, ../sass/footer.scss */
section#schedule-demo form input {
  height: 40px;
  width: 122px;
  color: white;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
  margin: 20px 0px 0 0;
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  cursor: pointer;
  z-index: 20;
}
/* line 61, ../sass/footer.scss */
section#schedule-demo form input:hover {
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 68, ../sass/footer.scss */
footer {
  background-color: #FFF;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 73, ../sass/footer.scss */
footer .col-left, footer .col-mid, footer .col-right {
  background-color: white;
  z-index: 50;
  float: left;
  display: inline-block;
  padding-top: 40px;
  width: 35%;
  height: 360px;
}
/* line 82, ../sass/footer.scss */
footer .col-left h4, footer .col-mid h4, footer .col-right h4 {
  margin: 0;
}
/* line 86, ../sass/footer.scss */
footer .col-left h6 a, footer .col-mid h6 a, footer .col-right h6 a {
  font-size: 100%;
  text-decoration: none;
}
/* line 91, ../sass/footer.scss */
footer .col-left p, footer .col-mid p, footer .col-right p {
  margin-top: 6px;
  margin-left: 18px;
  margin-right: 80px;
}
/* line 97, ../sass/footer.scss */
footer .col-left ul, footer .col-mid ul, footer .col-right ul {
  margin-top: 16px;
  margin-right: 80px;
}
/* line 100, ../sass/footer.scss */
footer .col-left ul li, footer .col-mid ul li, footer .col-right ul li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
/* line 105, ../sass/footer.scss */
footer .col-left ul a, footer .col-mid ul a, footer .col-right ul a {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* line 114, ../sass/footer.scss */
footer .col-left {
  position: relative;
}
/* line 118, ../sass/footer.scss */
footer .col-left:after {
  content: "";
  display: block;
  position: absolute;
  right: 40px;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
}
/* line 131, ../sass/footer.scss */
footer .col-mid {
  width: 35%;
  position: relative;
}
/* line 134, ../sass/footer.scss */
footer .col-mid:after {
  content: "";
  display: block;
  position: absolute;
  right: 40px;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  width: 1px;
}
/* line 146, ../sass/footer.scss */
footer .col-right {
  width: 30%;
  padding-left: 0;
  padding-right: 0;
}
/* line 150, ../sass/footer.scss */
footer .col-right a {
  margin-top: 0px;
  width: 100px;
  height: 40px;
  display: inline-block;
  border: 1px solid #BDD8F0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  text-indent: -10000px;
  z-index: 20;
}
/* line 161, ../sass/footer.scss */
footer .col-right a:after {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 174, ../sass/footer.scss */
footer .col-right a:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlZjBmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #def0ff));
  background-image: -moz-linear-gradient(#ffffff, #def0ff);
  background-image: -webkit-linear-gradient(#ffffff, #def0ff);
  background-image: linear-gradient(#ffffff, #def0ff);
}
/* line 188, ../sass/footer.scss */
footer .col-right a.fb-btn:after {
  background: url(/images/fb-icn@2x.png) no-repeat transparent scroll;
  background-position: center center;
  background-size: 10px, 10px;
}
/* line 198, ../sass/footer.scss */
footer .col-right a.tw-btn:after {
  background: url(/images/tw-icn@2x.png) no-repeat transparent scroll;
  background-position: center center;
  background-size: 19px, 19px;
}
/* line 208, ../sass/footer.scss */
footer .col-right a.in-btn:after {
  background: url(/images/in-icn@2x.png) no-repeat transparent scroll;
  background-position: center center;
  background-size: 19px, 19px;
}
/* line 218, ../sass/footer.scss */
footer .col-right a:hover {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-color: #A2C1DC;
}
/* line 221, ../sass/footer.scss */
footer .col-right a:hover:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 226, ../sass/footer.scss */
footer .col-right a:hover:after {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 233, ../sass/footer.scss */
footer .col-right h4 {
  margin-bottom: 20px;
}
/* line 239, ../sass/footer.scss */
footer a.logo {
  height: 42px;
  background-position: 2px 0px;
  margin-left: 18px;
  position: relative;
}

/* line 7, ../sass/login.scss */
section#login {
  display: block;
  text-align: center;
  background: #FFFFFF;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FFFFFF 39%, #E3F2FF 100%);
  background: linear-gradient(0deg, #ffffff 39%, #e3f2ff 100%);
}
/* line 11, ../sass/login.scss */
section#login div.container {
  width: 640px;
  display: inline-block;
  text-align: left;
  /* padding: 40px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 4px 0 #096CC3;
  -webkit-box-shadow: inset 0 4px 0 #096CC3;
  box-shadow: inset 0 4px 0 #096CC3;
  position: relative;
  background-color: white;
}
/* line 24, ../sass/login.scss */
section#login h1 {
  text-align: center;
  display: block;
  padding: 40px 40px 40px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 31, ../sass/login.scss */
section#login form {
  display: block;
}
/* line 35, ../sass/login.scss */
section#login .form-inputs {
  text-align: right;
  width: auto;
  padding: 0 40px 20px 40px;
}
/* line 41, ../sass/login.scss */
section#login .form-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
/* line 46, ../sass/login.scss */
section#login .input input {
  display: inline-block;
  height: 38px;
  margin: 20px 0 0px 20px;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-indent: 10px;
  outline: none;
  clear: both;
  width: 470px;
  background: rgba(28, 72, 111, 0.09);
  border: 1px solid rgba(8, 44, 76, 0.24);
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 65%;
}
/* line 63, ../sass/login.scss */
section#login .input label {
  display: inline-block;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  float: left;
  margin-top: 34px;
}
/* line 74, ../sass/login.scss */
section#login input.button, section#login a.button {
  height: 40px;
  width: 122px;
  color: white;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
  margin: 20px 0px 0 0;
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  cursor: pointer;
  z-index: 20;
}
/* line 95, ../sass/login.scss */
section#login input.button:hover, section#login a.button:hover {
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 101, ../sass/login.scss */
section#login a.button {
  background: #FF6800;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FF6800 0%, #FC8B40 100%);
  background: linear-gradient(0deg, #ff6800 0%, #fc8b40 100%);
  margin-left: 20px;
}
/* line 106, ../sass/login.scss */
section#login ul.button-group {
  text-align: center;
}
/* line 108, ../sass/login.scss */
section#login ul.button-group li {
  display: inline-block;
}
/* line 113, ../sass/login.scss */
section#login div#forgot-password {
  position: absolute;
  left: 50%;
  bottom: -40px;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
/* line 119, ../sass/login.scss */
section#login div#forgot-password a {
  font-size: 65%;
  text-decoration: none;
}

/* line 7, ../sass/addresses.scss */
section#address-listings {
  display: block;
}
/* line 10, ../sass/addresses.scss */
section#address-listings div.row.box {
  display: block;
  margin: 20px auto;
  max-width: 1160px;
}
/* line 14, ../sass/addresses.scss */
section#address-listings div.row.box p {
  display: block;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin: 0;
  text-indent: 0px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 24, ../sass/addresses.scss */
section#address-listings div.row.box p a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/addresses.scss */
section#address-listings div.row.box p:hover {
  background-color: #EBEEF2;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
/* line 37, ../sass/addresses.scss */
section#address-listings div.row.box p.intro {
  border: none;
  text-align: center;
  max-width: 700px;
  margin: 40px auto 0 auto;
  padding: 0;
  text-indent: 0px;
}
/* line 45, ../sass/addresses.scss */
section#address-listings div.row.box p.intro:hover {
  cursor: auto;
  background-color: white;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
/* line 55, ../sass/addresses.scss */
section#address-listings h1 {
  text-align: center;
  color: #061A2C;
}
/* line 60, ../sass/addresses.scss */
section#address-listings h2 {
  padding-bottom: 20px;
  color: #096CC3;
  margin-top: 60px;
}
/* line 64, ../sass/addresses.scss */
section#address-listings h2:after {
  display: none;
}
/* line 69, ../sass/addresses.scss */
section#address-listings form {
  max-width: 1160px;
  position: relative;
  margin: 0 auto;
}
/* line 75, ../sass/addresses.scss */
section#address-listings #search-field {
  display: inline-block;
  height: 38px;
  margin: 20px 0 0px 0px;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-indent: 10px;
  outline: none;
  clear: both;
  width: 100%;
  background: rgba(28, 72, 111, 0.09);
  border: 1px solid rgba(8, 44, 76, 0.24);
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 65%;
}
/* line 91, ../sass/addresses.scss */
section#address-listings #search {
  height: 38px;
  width: 122px;
  color: white;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  display: block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0;
  margin: 20px 0px 0 0;
  background: #FF6800;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FF6800 0%, #FC8B40 100%);
  background: linear-gradient(0deg, #ff6800 0%, #fc8b40 100%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  cursor: pointer;
  z-index: 20;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 116, ../sass/addresses.scss */
section#address-listings nav.pagination span {
  height: 38px;
  color: white;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 0 20px;
  margin: 20px 0px 0 0;
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  cursor: pointer;
  z-index: 20;
}
/* line 136, ../sass/addresses.scss */
section#address-listings nav.pagination span.current {
  background: #FF6800;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FF6800 0%, #FC8B40 100%);
  background: linear-gradient(0deg, #ff6800 0%, #fc8b40 100%);
}
/* line 140, ../sass/addresses.scss */
section#address-listings nav.pagination span a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 100%;
  color: white;
}
/* line 149, ../sass/addresses.scss */
section#address-listings nav.pagination span:hover {
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 8, ../sass/addressdetail.scss */
section#address-detail {
  display: block;
  padding: 100px 0px;
}
/* line 12, ../sass/addressdetail.scss */
section#address-detail .col-left {
  width: 50%;
  display: inline-block;
}
/* line 18, ../sass/addressdetail.scss */
section#address-detail .inner, section#address-detail #content {
  max-width: 1160px;
  margin: 0 auto;
  display: block;
}
/* line 24, ../sass/addressdetail.scss */
section#address-detail .col-right {
  width: 50%;
  float: right;
  display: inline-block;
}
/* line 30, ../sass/addressdetail.scss */
section#address-detail .full-width {
  width: 100%;
  display: block;
  clear: both;
}
/* line 36, ../sass/addressdetail.scss */
section#address-detail #address-head {
  display: block;
  text-align: center;
}
/* line 39, ../sass/addressdetail.scss */
section#address-detail #address-head h1 {
  display: block;
}
/* line 43, ../sass/addressdetail.scss */
section#address-detail #address-head h6 {
  display: block;
  margin-top: 20px;
}
/* line 49, ../sass/addressdetail.scss */
section#address-detail #location-banner {
  display: block;
  margin-top: 40px;
  background-color: #096CC3;
  padding: 40px 0;
  position: relative;
}
/* line 56, ../sass/addressdetail.scss */
section#address-detail #location-banner:after {
  content: "";
  display: block;
  position: absolute;
  margin-left: -50px;
  left: 50%;
  bottom: -30px;
  width: 0;
  z-index: 100;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 30px solid #096CC3;
}
/* line 71, ../sass/addressdetail.scss */
section#address-detail #location-banner img {
  width: 100% !important;
  height: auto;
}
/* line 77, ../sass/addressdetail.scss */
section#address-detail #location-banner h2:after {
  background-color: white;
}
/* line 82, ../sass/addressdetail.scss */
section#address-detail #location-banner p {
  margin-right: 40px;
}
/* line 85, ../sass/addressdetail.scss */
section#address-detail #location-banner form {
  display: inline-block;
}
/* line 88, ../sass/addressdetail.scss */
section#address-detail #location-banner form input {
  height: 38px;
  padding: 0 20px;
  color: white;
  text-align: center;
  line-height: 42px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin: 20px 0px 0 0;
  background: #2385DD;
  background: -webkit-linear-gradient(legacy-direction(-180deg), #2385DD 0%, #1571C3 100%);
  background: linear-gradient(-180deg, #2385dd 0%, #1571c3 100%);
  color: #FFF;
  text-transform: uppercase;
  font-size: 50%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  cursor: pointer;
  z-index: 20;
}
/* line 111, ../sass/addressdetail.scss */
section#address-detail #location-banner form input:hover {
  -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 117, ../sass/addressdetail.scss */
section#address-detail #location-banner form.front-page-cta input {
  background: #FF6800;
  background: -webkit-linear-gradient(legacy-direction(0deg), #FF6800 0%, #FC8B40 100%);
  background: linear-gradient(0deg, #ff6800 0%, #fc8b40 100%);
}
/* line 126, ../sass/addressdetail.scss */
section#address-detail .specifications ul.labels, section#address-detail .specifications ul.spec-data {
  width: 50%;
  display: inline-block;
}
/* line 131, ../sass/addressdetail.scss */
section#address-detail .specifications ul.labels li, section#address-detail .specifications ul.spec-data li {
  font-size: 75%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
  margin-bottom: 10px;
}
/* line 139, ../sass/addressdetail.scss */
section#address-detail .specifications ul.spec-data {
  float: right;
  text-align: right;
}
/* line 142, ../sass/addressdetail.scss */
section#address-detail .specifications ul.spec-data li {
  padding-right: 40px;
  font-family: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
}
/* line 152, ../sass/addressdetail.scss */
section#address-detail .photos ul li {
  display: inline-block;
  width: 50%;
}
/* line 156, ../sass/addressdetail.scss */
section#address-detail .photos ul li:nth-child(2n) {
  float: right;
}
/* line 161, ../sass/addressdetail.scss */
section#address-detail .photos ul li img {
  width: 90%;
  display: block;
  height: auto;
  margin-right: 20px;
}
/* line 170, ../sass/addressdetail.scss */
section#address-detail .trending {
  padding-top: 10px;
}
/* line 172, ../sass/addressdetail.scss */
section#address-detail .trending li {
  width: 20%;
  margin-bottom: 100px;
  margin-top: 40px;
  float: left;
  display: inline-block;
  text-align: center;
}
/* line 180, ../sass/addressdetail.scss */
section#address-detail .trending li span, section#address-detail .trending li small {
  font-size: 75%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
}
/* line 189, ../sass/addressdetail.scss */
section#address-detail .property-details li {
  float: left;
  display: inline-block;
  width: 33%;
  margin-bottom: 40px;
  font-size: 75%;
  font-family: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  line-height: 100%;
}
/* line 198, ../sass/addressdetail.scss */
section#address-detail .property-details li ul li {
  width: 100%;
  float: none;
  margin: 0;
}
/* line 204, ../sass/addressdetail.scss */
section#address-detail .property-details li ul {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
}
/* line 210, ../sass/addressdetail.scss */
section#address-detail .property-details li .spec-data {
  float: right;
  text-align: right;
}
/* line 214, ../sass/addressdetail.scss */
section#address-detail .property-details li .spec-data li {
  display: inline-block;
}
/* line 217, ../sass/addressdetail.scss */
section#address-detail .property-details li .spec-data li span {
  display: block;
  padding-right: 40px;
}

@media only screen and (max-width: 1200px) {
  /* line 10, ../sass/queries.scss */
  span.phone {
    display: none;
  }

  /* line 14, ../sass/queries.scss */
  footer .col-right {
    padding-bottom: 0px;
  }
  /* line 16, ../sass/queries.scss */
  footer .col-right a {
    display: inline-block;
    margin: 0 2% 50px 0;
    width: 28%;
    float: left;
  }

  /* line 28, ../sass/queries.scss */
  #solution-feature .col-right, #solution-feature .col-left {
    width: 46%;
  }

  /* line 37, ../sass/queries.scss */
  header#masthead button#mobile-menu {
    display: block;
  }
  /* line 40, ../sass/queries.scss */
  header#masthead a.logo {
    left: 10px;
  }
  /* line 43, ../sass/queries.scss */
  header#masthead ul.top {
    height: auto;
    display: inline-block;
    top: 63px;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  /* line 56, ../sass/queries.scss */
  header#masthead ul.top.activate {
    opacity: 1;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    pointer-events: all;
  }
  /* line 62, ../sass/queries.scss */
  header#masthead ul.top li.top-items {
    text-align: left;
    display: block;
    float: none;
    width: 100%;
    height: 17%;
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  /* line 70, ../sass/queries.scss */
  header#masthead ul.top li.top-items a.top-nav, header#masthead ul.top li.top-items span {
    text-align: left;
    font-size: 100%;
  }
  /* line 77, ../sass/queries.scss */
  header#masthead form {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    height: 62px;
    width: 100%;
    background-color: #096CC3;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  /* line 89, ../sass/queries.scss */
  header#masthead form.activate {
    opacity: 1;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    pointer-events: all;
  }
  /* line 95, ../sass/queries.scss */
  header#masthead form input#email-input {
    width: 62%;
    margin: 12px 0 0 0;
    background-color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 102, ../sass/queries.scss */
  header#masthead form input#submit-email {
    width: 32%;
    margin: 12px 3% 0 0;
  }

  /* line 110, ../sass/queries.scss */
  section#address-detail .col-left {
    width: 100%;
    display: block;
    text-align: center;
  }
  /* line 116, ../sass/queries.scss */
  section#address-detail .col-right {
    width: 100%;
    float: none;
    display: block;
  }
  /* line 121, ../sass/queries.scss */
  section#address-detail .col-right img {
    max-width: 640px;
    margin: 40px auto;
    display: block;
  }
  /* line 130, ../sass/queries.scss */
  section#address-detail #location-banner p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 136, ../sass/queries.scss */
  section#address-detail h4, section#address-detail p, section#address-detail h6 {
    padding-left: 40px;
    padding-right: 40px;
  }
  /* line 141, ../sass/queries.scss */
  section#address-detail h2:after {
    margin-left: -75px;
    left: 50%;
  }
  /* line 146, ../sass/queries.scss */
  section#address-detail div.specifications {
    text-align: left;
  }
  /* line 149, ../sass/queries.scss */
  section#address-detail div.specifications ul.labels li {
    padding-left: 40px;
  }
  /* line 157, ../sass/queries.scss */
  section#address-detail div.property-details .container {
    position: relative;
    padding: 0 40px;
    margin-top: 100px;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 189, ../sass/queries.scss */
  section#solutions-rr-mast, section#solutions-bd-mast {
    width: 100%;
    display: block;
    float: none;
    padding: 70px 0 10px 0;
  }
  /* line 195, ../sass/queries.scss */
  section#solutions-rr-mast h1, section#solutions-bd-mast h1 {
    font-size: 200%;
    padding-top: 130px;
  }
  /* line 200, ../sass/queries.scss */
  section#solutions-rr-mast h2, section#solutions-bd-mast h2 {
    font-size: 125%;
  }

  /* line 205, ../sass/queries.scss */
  section#solutions-bd-mast {
    padding-top: 20px;
  }
  /* line 207, ../sass/queries.scss */
  section#solutions-bd-mast h1 {
    background-size: 180px 106px;
  }

  /* line 214, ../sass/queries.scss */
  section#solutions-rr-mast h1 {
    background-size: 180px 107px;
  }
}
@media only screen and (max-width: 800px) {
  /* line 233, ../sass/queries.scss */
  section#login div.container {
    width: auto;
    display: block;
  }
  /* line 238, ../sass/queries.scss */
  section#login .form-inputs {
    text-align: left;
  }
  /* line 242, ../sass/queries.scss */
  section#login .input label {
    float: none;
  }
  /* line 246, ../sass/queries.scss */
  section#login .input input {
    width: 100%;
    margin: 10px 0 0 0;
    display: block;
  }

  /* line 256, ../sass/queries.scss */
  section#address-detail .photos ul li {
    width: 100%;
  }
  /* line 258, ../sass/queries.scss */
  section#address-detail .photos ul li img {
    width: auto;
    margin: 0 auto;
  }
  /* line 267, ../sass/queries.scss */
  section#address-detail .trending ul {
    text-align: center;
  }
  /* line 270, ../sass/queries.scss */
  section#address-detail .trending li {
    float: none;
    display: inline-block;
    margin-bottom: 0px;
    width: 49%;
  }
  /* line 279, ../sass/queries.scss */
  section#address-detail .property-details li {
    width: 100%;
  }
  /* line 282, ../sass/queries.scss */
  section#address-detail .property-details li .spec-data li span {
    padding-right: 0px;
  }
  /* line 287, ../sass/queries.scss */
  section#address-detail .property-details h6 {
    padding-left: 0px;
  }

  /* line 293, ../sass/queries.scss */
  footer {
    padding: 30px 40px 30px 40px;
  }
  /* line 296, ../sass/queries.scss */
  footer .col-right, footer .col-left, footer .col-mid {
    width: 100%;
    float: none;
    display: block;
    height: auto;
    padding: 20px 0px;
  }
  /* line 303, ../sass/queries.scss */
  footer .col-right:after, footer .col-left:after, footer .col-mid:after {
    display: none;
  }
  /* line 307, ../sass/queries.scss */
  footer .col-right a.logo, footer .col-right p, footer .col-left a.logo, footer .col-left p, footer .col-mid a.logo, footer .col-mid p {
    margin-left: 0px;
    max-width: none;
  }
  /* line 313, ../sass/queries.scss */
  footer .col-right ul, footer .col-left ul, footer .col-mid ul {
    margin-right: 0px;
  }
}
