@import "compass/css3/transform";
@import "compass/css3";
@import "plugins";
@import "variables";



section#address-detail{
	display: block;
	padding: 100px 0px;

	.col-left{
		width: 50%;
		
		display: inline-block;
	}

	.inner, #content{
		max-width: 1160px;
		margin: 0 auto;
		display: block;
	}

	.col-right{
		width: 50%;
		float: right;
		display: inline-block;
	}

	.full-width{
		width: 100%;
		display: block;
		clear: both;
	}

	#address-head{
		display: block;
		text-align: center;
		h1{
			display: block;
		}

		h6{
			display: block;
			margin-top: 20px;
		}
	}

	#location-banner{
		display: block;
		margin-top: 40px;
		background-color: $blue;
		padding: 40px 0;
		position: relative;

		&:after{
			content: "";
			display: block;
			position: absolute;
			margin-left: -50px;
			left: 50%;
			bottom: -30px;
			width: 0;
			z-index: 100;
			height: 0;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-top: 30px solid $blue;
		}

		img{
			width: 100% !important;
			height: auto;
		}

		h2{
			&:after{
				background-color: white;
			}
		}

		p{
			margin-right: 40px;
		}
		form{
			display: inline-block;
		}
		form input{
			height: 38px;
			padding: 0 20px;
			color: white;
			text-align: center;
			line-height: 42px;
			text-transform: uppercase;
			border: none;
			display: inline-block;
			@include border-radius(2px);
		
			margin: 20px 0px 0 0;
			@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
			color: $white;
			text-transform: uppercase;
			font-size: 50%;
			font-family: $DinMed;
			cursor: pointer;
			z-index: 20;

			
			

			&:hover{
				@include box-shadow(inset 0 -4px 0 rgba(0,0,0,.2));
				@include transition(.2s all ease-in-out);
			}
		}

		form.front-page-cta input{
				@include linear-gradient(0deg, #FF6800 0%, #FC8B40 100%);
		}



	}

	.specifications{
		ul.labels, ul.spec-data{
			width: 50%;
			display: inline-block;


			li{
				font-size: 75%;
				font-family: $DinMed;
				line-height: 100%;
				margin-bottom: 10px;
			}
		}

		ul.spec-data{
			float: right;
			text-align: right;
			li{
				padding-right: 40px;
				font-family: $DinReg;
			}
		}


	}

	.photos{
		ul li{
			display: inline-block;
			width: 50%;

			&:nth-child(2n){
				float: right;

			}

			img{
				width: 90%;
				display: block;
				height: auto;
				margin-right: 20px;
			}
		}
	}

	.trending{
		padding-top: 10px;
		li{
			width: 20%;
			margin-bottom: 100px;
			margin-top: 40px;
			float: left;
			display: inline-block;
			text-align: center;

			span,small{
				font-size: 75%;
				font-family: $DinMed;
				line-height: 100%;
			}
		}
	}

	.property-details{
		li{
			float: left;
			display: inline-block;
			width: 33%;
			margin-bottom: 40px;
			font-size: 75%;
			font-family: $DinMed;
			line-height: 100%;

			ul li{
				width: 100%;
				float: none;
				margin: 0;
			}
			
			ul{
				width: 50%;
				margin-top: 20px;
				display: inline-block;
			}

			.spec-data{
				float: right;
				text-align: right;

				li{
					display: inline-block;

					span{
						display: block;
						padding-right: 40px;
					}
				}
			}
		}
	}
}