@import "compass/css3/transform";
@import "compass/css3";
@import "plugins";
@import "variables";


section#address-listings{
	display: block;
	
	div.row.box{
		display: block;
		margin: 20px auto;
		max-width: 1160px;
		p{
			display: block;
			text-align: left;
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding: 15px 0;
			margin: 0;
			text-indent: 0px;
			@include transition(.2s all ease-in-out);
			

			a{
				text-decoration: none;
				display: block;
				width: 100%;
				height: 100%;
			}

			&:hover{
				background-color: #EBEEF2;
				@include transition(.2s all ease-in-out);
				cursor: pointer;
			}

			&.intro{
				border: none;
				text-align: center;
				max-width: 700px;
				margin: 40px auto 0 auto;
				padding: 0;
				text-indent: 0px;

				&:hover{
					cursor: auto;
					background-color: white;
					@include transition(0s all ease-in-out);
				}
			}

		}
	}

	h1{
		text-align: center;
		color: $dark-blue;
	}

	h2{
		padding-bottom: 20px;
		color: $blue;
		margin-top: 60px;
		&:after{
			display: none;
		}
	}

	form{
		max-width: 1160px;
		position: relative;
		margin: 0 auto;
	}

	#search-field{
		display: inline-block;
		height: 38px;
		margin: 20px 0 0px 0px;
		padding: 0;
		@include border-radius(2px);
		text-indent: 10px;
		outline: none;
		clear: both;
		width: 100%;
		background: rgba(28, 72, 111, 0.09);
		border: 1px solid rgba(8, 44, 76, 0.24);
		font-family: $DinMed;
		font-size: 65%;	
	}

	#search{
		height: 38px;
		width: 122px;
		color: white;
		text-align: center;
		line-height: 42px;
		text-transform: uppercase;
		border: none;
		display: block;
		@include border-radius(2px);
		padding: 0;
		margin: 20px 0px 0 0;
		@include linear-gradient(0deg, #FF6800 0%, #FC8B40 100%);
		color: $white;
		text-transform: uppercase;
		font-size: 50%;
		font-family: $DinMed;
		cursor: pointer;
		z-index: 20;
		position: absolute;
		right: 0;
		top: 0;
	}

	nav.pagination{
		span{
			height: 38px;
			
			color: white;
			text-align: center;
			line-height: 42px;
			text-transform: uppercase;
			border: none;
			display: inline-block;
			@include border-radius(2px);
			padding: 0 20px;
			margin: 20px 0px 0 0;
			@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
			color: $white;
			text-transform: uppercase;
			font-size: 50%;
			font-family: $DinMed;
			cursor: pointer;
			z-index: 20;

			&.current{
				@include linear-gradient(0deg, #FF6800 0%, #FC8B40 100%);
			}

			a{
				display: block;
				height: 100%;
				width: 100%;
				text-decoration: none;
				font-size: 100%;
				color: white;
			}

			&:hover{
				@include box-shadow(inset 0 -4px 0 rgba(0,0,0,.2));
				@include transition(.2s all ease-in-out);
			}
		}


	}
}
