@import "compass/css3/transform";
@import "compass/css3";
@import "plugins";
@import "variables";


section#schedule-demo{
	background: url(/images/mast-bg.png) no-repeat white scroll;
	background-position: bottom center;
	clear: both;
	margin-top: 0px;
	@include opacity(1);
	.container{
		max-width: 500px;
		margin: 0 auto;
		padding: 40px;
		background-color: rgba(255,255,255,1);
		@include border-radius(4px);
		@include box-shadow(inset 0 5px 0 $blue);
		text-align: center;
	}
	
	h2, p{
		display: block;

	}
	
	p{
		margin: 20px auto;
	}

	h2{
		padding-bottom: 0px;
	}

	h2:after{
		display: none;
	}

	form input{
		height: 40px;
		width: 122px;
		color: white;
		text-align: center;
		line-height: 42px;
		text-transform: uppercase;
		border: none;
		display: inline-block;
		@include border-radius(2px);
		padding: 0;
		margin: 20px 0px 0 0;
		@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
		color: $white;
		text-transform: uppercase;
		font-size: 50%;
		font-family: $DinMed;
		
		cursor: pointer;
		z-index: 20;

		&:hover{
			@include box-shadow(inset 0 -4px 0 rgba(0,0,0,.2));
			@include transition(.2s all ease-in-out);
		}
	}
}

footer{
	background-color: $white;
	border-top: 1px solid rgba(0,0,0,.1);
	

	.col-left, .col-mid, .col-right{
		background-color: white;
		z-index: 50;
		float: left;
		display: inline-block;
		padding-top: 40px;
		width: 35%;
		height: 360px;

		h4{
			margin: 0;
		}

		h6 a{
			font-size: 100%;
			text-decoration: none;
		}

		p{
			margin-top: 6px;
			margin-left: 18px;
			margin-right: 80px;
		} 

		ul{
			margin-top: 16px;
			margin-right: 80px;
			li{

				border-bottom: 1px dotted rgba(0,0,0,.1);
			}

			a{
				padding: 10px 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}

	.col-left{
		position: relative;
	
		
		&:after{
			content: "";
			display: block;
			position: absolute;
			right: 40px;
			top: 0;
			height: 100%;
			background-color: rgba(0,0,0,.1);
			width: 1px;
		}

	}

	.col-mid{
		width: 35%;
		position: relative;
		&:after{
			content: "";
			display: block;
			position: absolute;
			right: 40px;
			top: 0;
			height: 100%;
			background-color: rgba(0,0,0,.1);
			width: 1px;
		}
	}

	.col-right{
		width: 30%;
		padding-left: 0;
		padding-right: 0;
		a{
			margin-top: 0px;
			width: 100px;
			height: 40px;
			display: inline-block;
			border: 1px solid #BDD8F0;
			@include border-radius(4px);
			overflow: hidden;
			position: relative;
			text-indent: -10000px;
			z-index: 20;
			&:after{
				position: absolute;
				left: 0;
				display: block;
				content: "";
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				@include transition(.2s all ease-in-out);
				@include opacity(.5);
			}

			&:before{
				content: "";
				display: block;
				position: absolute;
				z-index: 0;
				width: 100%;
				height: 100%;
				@include opacity(0);
				@include transition(.2s opacity ease-in-out);
				@include background-image(linear-gradient(#ffffff, #DEF0FF));
			}


			&.fb-btn{
				&:after{
					background: url(/images/fb-icn@2x.png) no-repeat transparent scroll;
					
					background-position: center center;
					background-size: 10px, 10px;
				}
				
			}

			&.tw-btn{
				&:after{
					background: url(/images/tw-icn@2x.png) no-repeat transparent scroll;
					
					background-position: center center;
					background-size: 19px, 19px;
				}
				
			}

			&.in-btn{
				&:after{
					background: url(/images/in-icn@2x.png) no-repeat transparent scroll;
					background-position: center center;
					background-size: 19px, 19px;
				}
				
			}

			

			&:hover{
				@include transition(.2s all ease-in-out);
				border-color: #A2C1DC;
				&:before{
					@include transition(.2s opacity ease-in-out);
					@include opacity(1);
				}

				&:after{
					@include transition(.2s all ease-in-out);
					@include opacity(1);
				}
			}
		}

		h4{
			margin-bottom: 20px;
		}

	}

	a.logo{
		height: 42px;
		background-position: 2px 0px;
		margin-left: 18px;
		position: relative;
	}
}