@import "plugins";
@import "compass/css3/transform";
@import "compass/css3";
@import "variables";


body{
	font-size: x-large;
}


section{
	padding: 100px 40px;
	position: relative;
	
}


h1{
	font-size: 200%;
	font-family: $DinBold;
	line-height: 100%;


}

h2{
	font-size: 175%;
	font-family: $DinMed;
	line-height: 100%;
	outline: none;
}

h3{
	font-size: 125%;
	font-family: $DinLight;
	line-height: 100%;
}

h4{
	font-size: 115%;
	font-family: $DinMed;
	line-height: 100%;
	margin-top: 80px;
	margin-bottom: 20px;
}

h5{
	font-size: 50%;
	font-family: $DinMed;
	line-height: 100%;
	letter-spacing: 0px;
	text-transform: uppercase;
}

h6{
	font-size: 75%;
	font-family: $DinMed;
	line-height: 100%;
}

blockquote{
	font-size: 115%;
	font-family: $DinLight;
	line-height: 150%;
	strong{
		font-family: $DinBold;
	}

	p{
		font-size: 100%;
	}

}

p{
	font-size: 75%;
	font-family: $DinReg;
	line-height: 150%;

	margin: 0 0 20px 0;
	

	a{
		font-family: $DinReg;
		color: $dark-blue;
		font-size: 100%;
	}

	strong{
		font-family: $DinBold;
	}
}

a{
	font-size: 75%;
	font-family: $DinReg;
	color: $dark-blue;
	position: relative;
}

h1,h2,h3,h4,h5,h6,p, blockquote{
	position: relative;

	&.orange{
		color: $orange;
	}

	&.blue{
		color: $lightblue;
	}

	&.dark-blue{
		color: $dark-blue;
	}

	&.white{
		color: $white;
	}

	&.black{
		color: $dark-blue;
	}
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

a.button{
	color: $white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 16px 20px;
	font-family: $DinMed;
	text-decoration: none;
	@include border-radius(3px);
	margin-top: 0px;
	margin-bottom: 20px;
	display: inline-block;
	@include transition(.2s all ease-in-out);

	&.blue{
		@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
	}

	&.orange{
		@include linear-gradient(0deg, #FF6800 0%, #FC8B40 100%);
	}

	&:hover{
		@include box-shadow(inset 0 -4px 0 rgba(0,0,0,.2));
		@include transition(.2s all ease-in-out);
	}
}

button.button{
	color: $white;
	text-transform: uppercase;
	font-size: 12px;
	padding: 16px 20px;
	font-family: $DinMed;
	text-decoration: none;
	@include border-radius(3px);
	margin-top: 0px;
	margin-bottom: 20px;
	display: inline-block;
	@include transition(.2s all ease-in-out);
	border: none;
	outline: none;
	cursor: pointer;

	&.blue{
		@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
	}

	&.orange{
		@include linear-gradient(0deg, #FF6800 0%, #FC8B40 100%);
	}

	&:hover{
		@include box-shadow(inset 0 -4px 0 rgba(0,0,0,.2));
		@include transition(.2s all ease-in-out);
	}
}