@import "compass/css3/transform";
@import "compass/css3";
@import "plugins";
@import "variables";


section#login{
	display: block;
	text-align: center;
	@include linear-gradient(0deg, #FFFFFF 39%, #E3F2FF 100%);
	div.container{
		width: 640px;
		display: inline-block;
		text-align: left;
		/* padding: 40px; */
		border: 1px solid rgba(0,0,0,.1);
		@include border-radius(3px);
		@include box-shadow(inset 0 4px 0 #096CC3);
		position: relative;
		background-color: white;
	}


	h1{
		text-align: center;
		display: block;
		padding: 40px 40px 40px 40px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}

	form{
		display: block;
	}

	.form-inputs{
		text-align: right;
		width: auto;
		padding: 0 40px 20px 40px;
	}

	.form-actions{
		border-top: 1px solid rgba(0,0,0,.1);
		padding-bottom: 20px;
	}

	.input input{
		display: inline-block;
		height: 38px;
		margin: 20px 0 0px 20px;
		
		padding: 0;
		@include border-radius(2px);
		text-indent: 10px;
		outline: none;
		clear: both;
		width: 470px;
		background: rgba(28,72,111,0.09);
		border: 1px solid rgba(8,44,76,0.24);
		font-family: $DinMed;
		font-size: 65%;	
	}

	.input label{
		display: inline-block;
		font-size: 50%;
		font-family: $DinMed;
		line-height: 100%;
		letter-spacing: 0px;
		text-transform: uppercase;
		float: left;
		margin-top: 34px;
	}
	
	input.button, a.button{
		height: 40px;
		width: 122px;
		color: white;
		text-align: center;
		line-height: 42px;
		text-transform: uppercase;
		border: none;
		display: inline-block;
		@include border-radius(2px);
		padding: 0;
		margin: 20px 0px 0 0;
		@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
		color: $white;
		text-transform: uppercase;
		font-size: 50%;
		font-family: $DinMed;
		
		cursor: pointer;
		z-index: 20;

		&:hover{
			@include box-shadow(inset 0 -4px 0 rgba(0,0,0,.2));
			@include transition(.2s all ease-in-out);
		}
	}

	a.button{
		@include linear-gradient(0deg, #FF6800 0%, #FC8B40 100%);
		margin-left: 20px;
	}

	ul.button-group{
		text-align: center;
		li{
			display: inline-block;
		}
	}

	div#forgot-password{
		position: absolute;
		left: 50%;
		bottom: -40px;
		@include transform(translate3d(-50%,0,0));

		a{
			font-size: 65%;
			text-decoration: none;
		}
	}


}
