@import "compass/css3/transform";
@import "compass/css3";
@import "plugins";
@import "variables";



header#masthead{
	height: 62px;
	width: 100%;
	background: rgba(255,255,255,1);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	text-align: center;
	display: block;
	border-bottom: 1px solid #E5E5E5;

	form{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 300px;
		background-color: transparent;
		

	}


	input#email-input{
		height: 38px;
		margin: 11px 0 0 0;
		float: right;
		padding: 0;
		@include border-radius(2px 0 0 2px);
		text-indent: 17px;
		outline: none;
		width: 150px;
		background: rgba(28,72,111,0.09);
		border: 1px solid rgba(8,44,76,0.24);
		border-right: none;

	}

	input#submit-email{
		height: 40px;
		width: 122px;
		color: white;
		text-align: center;
		line-height: 42px;
		text-transform: uppercase;
		border: none;
		display: block;
		@include border-radius(0 2px 2px 0);
		padding: 0;
		margin: 11px 10px 0 0;
		@include linear-gradient(-180deg, #2385DD 0%, #1571C3 100%);
		color: $white;
		text-transform: uppercase;
		font-size: 50%;
		font-family: $DinMed;
		float: right;
		cursor: pointer;

	}
	
}

span.phone{
	font-size: 75%;
	font-family: $DinMed;
	line-height: 100%;
	letter-spacing: 0px;
	text-transform: uppercase;
	position: absolute;
	left: 180px;
	top: 22px;
}



ul.sub-nav{
	position: fixed;
	width: 100%;
	height: auto;
	background-color: rgba(255,255,255,1);
	left: 0;
	top: 63px;
	display: block;
	border-bottom: 1px solid #E5E5E5;
	@include transform(translate3d(0px, -350px, 0));
	@include transition(.2s all ease-in-out);

	z-index: 110;
	
	&.activate{
		@include transform(translate3d(0px, 0px, 0));
		@include transition(.2s all ease-in-out);
		@include transition-delay(.5s);
	}

	&.resources{

		li.subnav-items{

			

			&:nth-child(1):before{
				background: url(/images/resources/customers.png) no-repeat scroll;
				@include image-2x("/images/resources/customers@2x.png", 56px, 56px);
				background-position: center 50px;
			}

			&:nth-child(2):before{
				background: url(/images/resources/docs.png) no-repeat scroll;
				@include image-2x("/images/resources/docs@2x.png", 51px, 56px);
				background-position: center 50px;
			}

			&:nth-child(3):before{
				background: url(/images/resources/why-idealspot.png) no-repeat scroll;
				@include image-2x("/images/resources/why-idealspot@2x.png", 59px, 56px);
				background-position: center 50px;
			}

			&:nth-child(4):before{
				background: url(/images/resources/webinar.png) no-repeat scroll;
				@include image-2x("/images/resources/webinar@2x.png", 55px, 56px);
				background-position: center 50px;
			}

			&:before{
				content: "";
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 0;
				@include transform(scale(0));
				@include transition(.1s all ease-in-out);
			
			}


		}
		
	}

	&.solutions{
		@include transform(translate3d(0px, -550px, 0));

		&.activate{
			@include transform(translate3d(0px, 0px, 0));
			@include transition(.2s all ease-in-out);
			@include transition-delay(.5s);
		}

		a.link{
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}
		
		li:hover{
			background-color: #E3F2FF;
			@include transition(.2s all ease-in-out);
		}

	}



}

#free-download{
	width: 100%;
	display: inline-block;
	text-align: center;
	z-index: 0;
	position: relative;
	font-size: 65%;
	font-family: $DinReg;
	padding: 10px 0;
	@include transform(translate3d(0,0px,0));
	@include opacity(0);
	a{
		font-size: 100%;
		font-family: $DinMed;
		text-decoration: none;
		color: $blue;
		&:hover{
			text-decoration: underline;
			cursor: pointer;
		}
	}
}


li.subnav-items{
	width: 25%;
	display: inline-block;
	float: left;
	position: relative;
	padding: 20px 0;
	text-align: center;
	z-index: 10;
	background-color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	@include transition(.2s all ease-in-out);
	&:after{
		content: "";
		display: block;
		width: 1px;
		background-color: rgba(0,0,0,.1);
		height: 100%;
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 10;
		@include transform(translate3d(0, -100%,0));
		//@include opacity(0);
	}

	&:last-child{
		&:after{
			display: none;
		}
	}
	
	h6{
		padding-top: 110px;
		@include transform(translate3d(0,0px,0));
		@include opacity(0);
	}

	a.button{
		margin-top: 20px;
		@include opacity(0);

	}

	&:hover{
		

		a.button{
			cursor: pointer;
		}

		background-color: #E3F2FF;
		@include transition(.2s all ease-in-out);


	}
}

ul.top{
	background-color: transparent;
	height: 100%;
	display: inline-block;
	top: 0;
	position: relative;
	z-index: 10;
	
}

$hoverdelay: .3s;

li.top-items{
	display: inline-block;

	height: 100%;
	text-align: center;
	margin: 0;
	outline: 0;
	border: 0;
	float: left;
	@include transition(.2s all ease-in-out);
	overflow: hidden;
	@include box-shadow(inset 0 -4px 0 rgba(0,0,0,0));
	a.top-nav, span{
		display: block;
		height: 100%;
		
		text-align: center;
		text-decoration: none;
		line-height: 62px;
		font-size: 67%;
		font-family: $DinMed;
		color: $dark-blue;
		padding: 0 20px;
		@include transition(.2s all ease-in-out);
	}

	span{
		svg{
			fill: rgba(0,0,0,.3);
			margin-left: 6px;
			@include transition(.2s all ease-in-out);
			@include transform-origin(7px, 4px);
			@include transition-delay($hoverdelay);
		}

		&.activate{
			@include box-shadow(inset 0 -3px 0 $blue);
			@include transition(.2s all ease-in-out);
			@include transition-delay($hoverdelay);
			svg{
				fill: $blue;
				@include transform(rotate(180deg));
				@include transition(.2s all ease-in-out);
				@include transition-delay($hoverdelay);
				
			}
		}	
	}

	&:hover{
		@include box-shadow(inset 0 -3px 0 $blue);
		@include transition(.2s all ease-in-out);
		

		a, span{
			color: $blue;
			@include transition(.2s all ease-in-out);
			
			cursor: pointer;
		}


	}

	&.selected{
		@include box-shadow(inset 0 -3px 0 $blue);
		
		a,span{
			color: $blue;
		}
	}
}




ul.sub-nav.resources.activate{
	
	#free-download{
		@include transform(translate3d(0,0,0));
		@include transition(.3s all ease-in-out);
		@include transition-delay(.9s);
		@include opacity(1);
	}

	li.subnav-items{
		&:before{
			@include transform(scale(1));
			@include transition(.3s all ease-in-out);
		}
		&:after{
			//@include opacity(1);
			@include transform(translate3d(0,0,0));
			@include transition(.4s all ease-in-out);
		}
		h6{
			@include transform(translate3d(0,0,0));
			@include opacity(1);
			@include transition(.3s all ease-in-out);
		}

		a.button{
			@include opacity(1);
			@include transition(.3s all ease-in-out);
		}
	}

	li.subnav-items:first-child{
		&:before{
			@include transition-delay(.5s);
		}
		&:after{
			@include transition-delay(.5s);
		}
		h6{
			@include transition-delay(.6s);
		}
		a.button{
			@include transition-delay(.7s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

	li.subnav-items:nth-child(2){
		&:before{
			@include transition-delay(.7s);
		}
		&:after{
			@include transition-delay(.7s);
		}
		h6{
			@include transition-delay(.8s);
		}
		a.button{
			@include transition-delay(.9s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

	li.subnav-items:nth-child(3){
		&:before{
			@include transition-delay(.7s);
		}
		&:after{
			@include transition-delay(.7s);
		}
		h6{
			@include transition-delay(.8s);
		}
		a.button{
			@include transition-delay(.9s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

	li.subnav-items:nth-child(4){
		&:before{
			@include transition-delay(.5s);
		}
		&:after{
			@include transition-delay(.5s);
		}
		h6{
			@include transition-delay(.6s);
		}
		a.button{
			@include transition-delay(.7s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

}

a.logo{
	display: block;
	height: 100%;
	width: 160px;
	overflow: hidden;
	text-indent: -10000px;	
	background: url(/images/idealspot-logo@2x.png) no-repeat transparent scroll;
	background-size: 150px 40px;
	background-position: 10px 18px;
	padding-left: 10px;
	position: absolute;
}


button#mobile-menu{
	display: none;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0;
	width: auto;
	border: none;
	outline: none;
	background-color: transparent;
	cursor:pointer;
	padding-right: 20px;
	h6{
		display: inline-block;
		font-size: 130%;
		margin-right: 40px;
	}

	svg{
		margin-left: 10px;
		position: absolute;
		right: 20px;
		top: 28px;
	}

	&:after{
		content: "";
		display: block;
		position: absolute;
		right: 20px;
		top: 28px;
		background: url(/images/menu-icn.svg) no-repeat transparent scroll;
		width: 19px;
		height: 8px;
		opacity: 1;
		@include transition(.2s all ease-in-out);
	}

	&:before{
		content: "";
		display: block;
		position: absolute;
		right: 19px;
		top: 24px;
		background: url(/images/close-icn.svg) no-repeat transparent scroll;
		width: 19px;
		height: 20px;
		opacity: 0;
		@include transition(.2s all ease-in-out);
		@include transform(scale(1.2));
	}

	&.activate{
		&:before{
			@include transition(.2s all ease-in-out);
			@include transform(scale(1));
			opacity: 1;
		}

		&:after{
			@include transition(.2s all ease-in-out);
			opacity: 0;
		}
	}

}


div#page{
	margin-top: 61px;
}

section h2{
	padding-top: 8px;
	padding-bottom: 85px;
	&:after{
		content: "";
		display: block;
		width: 150px;
		height: 3px;
		@include border-radius(2px);
		position: absolute;
		bottom: 40px;
		background-color: $dark-blue;
	}
}

div.inner{
	margin: 0 auto;
	display: inline-block;
}

div.grid-1{
	max-width: 1200px;
	margin: 0 auto;

}
div.grid-2{
	max-width: 550px;
	float: left;
	display: inline-block;
	padding-right: 100px;
	margin-bottom: 100px;
	&.col-right{
		padding-right: 0;
	}
	
}


li#solutions-rr-mast, li#solutions-bd-mast{
	display: inline-block;
	float: left;
	width: 50%;
	margin: 0;
	text-align: center;
	background-color: transparent;
	padding: 50px 0;
	position: relative;
	overflow: hidden;
	h1{
		font-size: 200%;
		padding-top: 230px;
		color: white;
	}

	h2{
		padding-bottom: 20px;
		@include opacity(0);
		@include transform(translate3d(0,0px,0));
	}

	h2:after{
		left: 50%;
		margin-left: -75px;
		display: none;
		@include opacity(0);
	}

	button.button{
		margin-top: 0px;
		
	}

	div.inner{
		@include opacity(0);
	}


}

li#solutions-rr-mast{
	h1{
	    
		
		&:after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -183px;
			width: 366px;
			height: 234px;
			top: 0;
			@include opacity(0);
			@include transform(translate3d(-100%,0,0));
		    background: url(/images/solutions/retail.png) no-repeat transparent scroll;
		    @include image-2x("/images/solutions/retail@2x.png", 366px, 214px);
			background-position: center 13px;
			background-size: 366px 214px;
		}
		
	}

	&:hover{

		@include transition(.2s all ease-in-out);
	}
}

li#solutions-bd-mast{
	h1{
	    
		
		&:after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			margin-left: -184px;
			width: 368px;
			height: 234px;
			top: 0;
			@include opacity(0);
			//@include transform(translate3d(200%,0,0));
			@include transform(translate3d(100%,0,0));
		    background: url(/images/solutions/brokers.png) no-repeat transparent scroll;
		    @include image-2x("/images/solutions/brokers@2x.png", 368px, 214px);
			background-position: center 13px;
			background-size: 368px 214px;
		}
		
	}
	&:hover{

		@include transition(.2s all ease-in-out);
	}
}

li#solutions-rr-mast:after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: rgba(0,0,0,.1);
	@include transform(translate3d(0,-100%,0));
}

li#solution-feature h2, li#solution-cta h2{
	padding-bottom: 0px;

	&:after{
		display: none;
	}
}

ul.sub-nav.solutions.activate{
		li#solutions-rr-mast, li#solutions-bd-mast{

			&:after{
				@include transform(translate3d(0,0,0));
				@include transition(.3s all ease-in-out);
				@include transition-delay(.7s);
			}

			h1{
				color: $dark-blue;
				@include transition(.3s all ease-in-out);
				@include transition-delay(1s);

			}

			h1:after{
				//@include transform(translate3d(0,0,0));
				@include opacity(1);
				@include transition(.3s all ease-in-out);
				@include transition-delay(.7s);
				@include transform(scale(1));
			}

			h2{
				@include opacity(1);
				@include transition(.3s all ease-in-out);
				@include transform(translate3d(0,0,0));
				@include transition-delay(1.1s);
			}
			button{
				&:hover{
					@include transition-delay(0s);
				}
			}

			div.inner{
				@include opacity(1);
				@include transition(.3s all ease-in-out);
				@include transition-delay(1.2s);
			}
		}
}

ul.sub-nav.resources.activate{
	
	#free-download{
		@include transform(translate3d(0,0,0));
		@include transition(.3s all ease-in-out);
		@include transition-delay(.9s);
		@include opacity(1);
	}

	li.subnav-items{
		&:before{
			@include transform(scale(1));
			@include transition(.3s all ease-in-out);
		}
		&:after{
			//@include opacity(1);
			@include transform(translate3d(0,0,0));
			@include transition(.4s all ease-in-out);
		}
		h6{
			@include transform(translate3d(0,0,0));
			@include opacity(1);
			@include transition(.3s all ease-in-out);
		}

		a.button{
			@include opacity(1);
			@include transition(.3s all ease-in-out);
		}
	}

	li.subnav-items:first-child{
		&:before{
			@include transition-delay(.5s);
		}
		&:after{
			@include transition-delay(.5s);
		}
		h6{
			@include transition-delay(.6s);
		}
		a.button{
			@include transition-delay(.7s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

	li.subnav-items:nth-child(2){
		&:before{
			@include transition-delay(.7s);
		}
		&:after{
			@include transition-delay(.7s);
		}
		h6{
			@include transition-delay(.8s);
		}
		a.button{
			@include transition-delay(.9s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

	li.subnav-items:nth-child(3){
		&:before{
			@include transition-delay(.7s);
		}
		&:after{
			@include transition-delay(.7s);
		}
		h6{
			@include transition-delay(.8s);
		}
		a.button{
			@include transition-delay(.9s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

	li.subnav-items:nth-child(4){
		&:before{
			@include transition-delay(.5s);
		}
		&:after{
			@include transition-delay(.5s);
		}
		h6{
			@include transition-delay(.6s);
		}
		a.button{
			@include transition-delay(.7s);
			&:hover{
				@include transition-delay(0s);
			}
		}
	}

}