@import "compass/css3/transform";
@import "compass/css3";
@import "variables";





@media only screen and (max-width: 1200px){
	span.phone{
		display: none;
	}
	footer{
		.col-right{
			padding-bottom: 0px;
			a{
				display: inline-block;
			    margin: 0 2% 50px 0;
			    width: 28%;
			    float: left;
			}
		}
	}


	#solution-feature{

		.col-right, .col-left{
			width: 46%;

		}
	}

	

	header#masthead{
		button#mobile-menu{
			display: block;
		}
		a.logo{
			left: 10px;
		}
		ul.top{
			height: auto;
			display: inline-block;
			top: 63px;
			position: fixed;
			z-index: 10;
			background-color: white;
			width: 100%;
			left: 0;
			opacity: 0;
			pointer-events: none;
			@include transition(.2s all ease-in-out);

			&.activate{
				opacity: 1;
				@include transition(.2s all ease-in-out);
				pointer-events: all;
			}

			li.top-items{
				text-align: left;
				display: block;
				float: none;
				width: 100%;
				height: 17%;
				@include box-shadow(inset 0 -1px 0 rgba(0,0,0,.1));

				a.top-nav, span{
					text-align: left;
					font-size: 100%;
				}
			}
		}

		form{
		    position: fixed;
		    bottom: 0;
		    top: auto;
		    left: 0;
		    height: 62px;
		    width: 100%;
		    background-color: $blue;
		    @include transition(.2s all ease-in-out);
		    opacity: 0;
		    pointer-events: none;

		    &.activate{
		    	opacity: 1;
		    	@include transition(.2s all ease-in-out);
		    	pointer-events: all;
		    }

		    input#email-input{
				width: 62%;
				margin: 12px 0 0 0;
				background-color: rgba(255,255,255,1);
				@include box-shadow(none);
		    }

		    input#submit-email{
				width: 32%;
				margin: 12px 3% 0 0;
		    }
		}
	}
	
	section#address-detail{
		.col-left{
			width: 100%;
			display: block;
			text-align: center;
		}

		.col-right{
			width: 100%;
			float: none;
			display: block;

			img{
				max-width: 640px;
				margin: 40px auto;
				display: block;
				
			}

		}

		#location-banner p{
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}

		h4, p, h6{
			padding-left: 40px;
			padding-right: 40px;
		}

		h2:after{
			margin-left: -75px;
			left: 50%;
		}

		div.specifications{
			text-align: left;

			ul.labels li{
				padding-left: 40px;
			}
		}



		div.property-details{
			.container{
				position: relative;
				padding: 0 40px;
				margin-top: 100px;
			}
		}
	}

	

	

	
	
	
}

@media only screen and (max-width: 1000px){
	
	
	

	

	

	

	

	

	section#solutions-rr-mast, section#solutions-bd-mast{
		width: 100%;
		display: block;
		float: none;
		padding: 70px 0 10px 0;

		h1{
			font-size: 200%;
			padding-top: 130px;
		}

		h2{
			font-size: 125%;
		}
	}

	section#solutions-bd-mast{
		padding-top: 20px;
		h1{
			background-size: 180px 106px;
		}
	}

	section#solutions-rr-mast{

		h1{
			background-size: 180px 107px;
		}
	}


	section#address-listings{
		form, div.row.box{
			//max-width: 960px;
		}
	}


}


@media only screen and (max-width: 800px){
	
	section#login{
		div.container{
			width: auto;
			display: block;
		}

		.form-inputs{
			text-align: left;
		}

		.input label{
			float: none;
		}

		.input input{
			width: 100%;
			margin: 10px 0 0 0;
			display: block;
		}
	}
	
	section#address-detail{

		.photos{
			ul li{
				width: 100%;
				img{
					width: auto;
					margin: 0 auto;
				}
			}
		}

		.trending{

			ul{
				text-align: center;
			}
			li{
				float: none;
				display: inline-block;	
				margin-bottom: 0px;
				width: 49%;
			}
		} 

		.property-details{
			li{
				width: 100%;

				.spec-data li span{
					padding-right: 0px;
				}
			}

			h6{
				padding-left: 0px;
			}
		}
	}

	footer{

		padding: 30px 40px 30px 40px;
		.col-right,.col-left,.col-mid{
			width: 100%;
			float: none;
			display: block;
			height: auto;
			padding: 20px 0px;
			
			&:after{
				display: none;
			}
			
			a.logo, p{
				margin-left: 0px;
				max-width: none;
				
			}

			ul{
				margin-right: 0px;
			}

		}

		




	}

	

}

