@import "fonts";

$DinLight: "Din-Light", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$DinMed: "Din-Medium", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$DinReg: "Din-Reg", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$DinBold: "Din-Bold", "Helvetica", "Helvetica Neue", "Arial", sans-serif;

$orange: #FF6500;
$darkorange: #DF5C06;
$lightblue: #1B84E3;
$blue: #096CC3;
$dark-blue: #092C4C;
$dark-blue: #061A2C;
$offwhite: #E5E5E5;
$white: #FFF;